# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*.user

# .NET
project.lock.json
project.assets.json
*.nuget.props
*.nuget.targets

# Rider / JetBrains
.idea/
*.sln.iml

# OS
.DS_Store
Thumbs.db
